<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			Register
		</mat-panel-title>
	</mat-expansion-panel-header>
	<ng-template matExpansionPanelContent>
		<form (ngSubmit)="onSubmit();" [formGroup]="registerControl">
			<mat-form-field fxFill>
				<input type="text" matInput placeholder="Username:"
					formControlName="username" />
			</mat-form-field>
			<mat-form-field fxFill>
				<input type="password" matInput placeholder="Password:"
					formControlName="password" />
			</mat-form-field>
			<mat-form-field fxFill>
				<input type="password" matInput placeholder="Password confirmation:"
					formControlName="password2" />
				<mat-error *ngIf="!registerControl.controls.password2.notEquivalent">
					The two passwords must be <strong>identical</strong>.
				</mat-error>
			</mat-form-field>
			<button type="submit" mat-raised-button [disabled]="!registerControl.valid" fxFill>
				Register
			</button>
		</form>
	</ng-template>
</mat-expansion-panel>
