<div fxLayout="column" fxLayoutGap="10px" *ngIf="posts; else loading;">
	<app-post *ngFor="let post of posts;" [post]="post"></app-post>
</div>

<ng-template #loading>
	<p class="loading-p">Getting your posts ready, just a second...</p>
	<mat-spinner class="loading-spin" [diameter]="15"></mat-spinner>
</ng-template>
