<mat-toolbar>
	<button mat-button (click)="home();">Show New Posts</button>
	<button mat-button (click)="getTopPosts();">Show Top Posts</button>
	<span class="spacer"></span>
	<button mat-button (click)="PostBottomSheet();">
		Post <mat-icon>cloud_upload</mat-icon>
	</button>
	<span class="spacer"></span>
	<button mat-raised-button color="warn" (click)="logout();">Logout</button>
</mat-toolbar>
