<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			Login
		</mat-panel-title>
	</mat-expansion-panel-header>
	<ng-template matExpansionPanelContent>
		<form (ngSubmit)="onSubmit();" [formGroup]="loginControl">
			<mat-form-field fxFill>
				<input type="text" matInput placeholder="Username:" formControlName="username" />
			</mat-form-field>
			<mat-form-field fxFill>
				<input type="password" matInput placeholder="Password:" formControlName="password" />
			</mat-form-field>
			<button type="submit" mat-raised-button [disabled]="!loginControl.valid" fxFill>
				Login
			</button>
		</form>
	</ng-template>
</mat-expansion-panel>
