<h3>Edit here:</h3>
<form (ngSubmit)="onSubmit();" [formGroup]="postControl">
	<mat-form-field fxFill>
		<textarea matInput placeholder="Type here"
			rows="10" cols="30" formControlName="content">
		</textarea>
	</mat-form-field>
	<button fxFill mat-raised-button color="primary"
		[disabled]="!postControl.valid" type="submit">
		<mat-icon>send</mat-icon>
	</button>
</form>
