<mat-card>
	<mat-card-content fxFill>
		<p>{{post.content}}</p>
	</mat-card-content>
	<br />
	<mat-divider></mat-divider>
	<br />
	<mat-card-actions fxFill *ngIf="isLoggedIn()">
		<button mat-button fxFlex color="primary" (click)="vote(+1)">
			<mat-icon matBadge="{{post.usersVoteUp.length}}" matBadgePosition="before">
				thumb_up
			</mat-icon>
		</button>
		<button mat-button fxFlex color="warn" (click)="vote(-1)">
			<mat-icon matBadge="{{post.usersVoteDown.length}}"
				matBadgePosition="before" matBadgeColor="warn">
				thumb_down
			</mat-icon>
		</button>
		<button mat-button fxFlex [matMenuTriggerFor]="menu" *ngIf="isUsersPost();">
			Edit Menu
		</button>
		<mat-menu #menu="matMenu">
			<ng-template matMenuContent>
				<button mat-menu-item (click)="EditPostBottomSheet();">
					<mat-icon>edit</mat-icon>
					<span>Edit</span>
				</button>
				<button mat-menu-item (click)="deletePost();">
					<mat-icon>delete_forever</mat-icon>
					<span>Delete</span>
				</button>
			</ng-template>
		</mat-menu>
	</mat-card-actions>
</mat-card>
